@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<p>Use this area to provide additional information.</p>


<script type="text/javascript">


    //$(document).ready(function () {

    //    var code = $('#code').html();

    //    $.ajax({
    //        url: 'https://api.ebay.com/identity/v1/oauth2/token',
    //        type: 'POST',
    //        headers: {
    //            'Content-Type': 'application/x-www-form-urlencoded',
    //            'Authorization': 'Basic Q2FtZXJvbkItRWJheUZlZVQtUFJELWU4YTEyOTIzMy01ZmY5NThkOTpQUkQtOGExMjkyMzM4Y2NjLTQ4ZDYtNDM5ZC05MDQxLTI2OTE='
    //        },
    //        //data: {
    //        //    'grant_type': 'authorization_code',
    //        //    'code': code,
    //        //    'redirect_uri': 'Cameron_Blazevi-CameronB-EbayFe-urvcak'
    //        //}
    //        data: 'grant_type=authorization_code&code=' + code + '&redirect_uri=Cameron_Blazevi-CameronB-EbayFe-urvcak',
    //        complete: function(data)
    //        {
    //            console.log(data);
    //        }
    //    });
    //});


</script>