@{
    ViewBag.Title = "About eBay Profit Tracker";
}
<style>
    .panel-body .well {
        padding: 10px;
        margin: 20px;
    }

    .panel-body .even-height {
        min-height: 350px;
    }
</style>





<div class="panel">

    <div class="panel-body">
        <div class="row content-section-b">
            <div class="col-md-5">
                <div class="even-height">
                    <h3>Background</h3>
                    <hr />
                    <p>
                        Like thousands of others, in order to make enough money to buy beer in college, I began buying and selling items online. I seemed to always have just
                        enough cash on hand for that next 30 pack to keep the beer games going, however, due to eBay's somewhat convoluted fee system, I was never really sure
                        I was turning a profit. I searched the web for solutions to my problem, but most of my search results just revealed some excel wizard selling their
                        pre-made spreadsheet to track sales.
                    </p>
                    <p>
                        Determined to avoid tracking my sales and profits via the manual process of entering information into a spreadsheet by hand, I decided to build
                        an application that could handle all of those tedious tasks automatically. I built eProfitTracker and ran it on my own computer, but didn't host it anywhere.
                        I was now able to know exactly how much money I was making buying and selling things online.
                    </p>
                    <p>
                        After showing a fellow eBay flipper (and beer pong partner) how I was tracking my profits automatically, he immediately asked how he could begin
                        using the application as well. Then it hit me. Why hadn't I hosted eProfitTracker and exposed to it all of my fellow eBay sellers who were
                        just as fed up with the lack of tools provided to eBay sellers for sales, profit, and cost tracking? I bought the domain and hosted the application
                        the next day.
                    </p>
                    <p>
                        <strong>Sign up for the free trial and let us know what you think! I'm sure you'll get as much value from it as we have.</strong>
                    </p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="row">
                    <img src="~/img/cameron_2.jpg" style="height: 450px; width: 450px;" />
                </div>
                <div class="row">
                    <span>Cameron Blazevich - Founder</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row content-section-a">
            <div class="col-md-8">
                <div class="even-height">
                    
                    <img src="~/img/ListingsScreenshot.PNG" style="height: 100%; width: 100%; border: 1px solid black" />
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="even-height" style="align-content: center">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Import and View Listings</h2>
                    <hr/>
                    <p class="lead">Automatically import your recent and active listings for sales and fee information at a glance.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row content-section-b">
            <div class="col-md-4">
                <div class="even-height">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Create Products</h2>
                    <hr/>
                    <p class="lead">Create products for items you sell over and over again to avoid entering in item specific information for each listing.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="even-height" style="align-content: center">
                    <img src="~/img/ProductsScreenshot.PNG" style="height: 100%; width: 100%; border: 1px solid black"  />               
                </div>
            </div>
        </div>
        <div class="row content-section-a">
            <div class="col-md-8">
                <div class="even-height" style="align-content: center">
                    <img src="~/img/SearcherScreenshot.PNG" style="height: 100%; width: 100%; border: 1px solid black" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="even-height">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Market Research</h2>
                    <hr/>
                    <p class="lead">Utilize our newest feature to help determine the current market value for your current and potential products.</p>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="well even-height">
                    <h3>Getting Started</h3>
                    <hr />
                    <ol>
                        <li>Create an eBay Profit Tracker Account</li>
                        <li>Authenticate your newly created account with eBay by clicking the 'Authenticate' button on the 'Register' page while logged in</li>
                        <li>Import your eBay listings by clicking the 'Update Listings' button on the 'Listings' page.</li>
                        <li>Create products from the 'Products' page. Products can also be created from the 'Listings' page by clicking the '+' icon in the header of the last column</li>
                        <li>Associate your products to listings on the 'Listings' page by clicking on the value in the 'Product' column for the corresponding listing row</li>
                    </ol>
                </div>
            </div>          
            <div class="col-md-4 col-md-offset-1">
                <div class="well even-height">
                    <h3>Coming Soon</h3>
                    <hr />
                    <ul>
                        <li>Shipping cost tracking</li>
                        <li>PayPal fee tracking</li>
                        <li>Search filters on @Html.ActionLink("Listings", "Index", "Listings") and @Html.ActionLink("Products", "Index", "InventoryItems") pages</li>
                        <li>Dashboard @Html.ActionLink("(unstable version found here)", "Index", "Dashboard") *Must be logged in</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    //$(document).ready(function () {

    //    var code = $('#code').html();

    //    $.ajax({
    //        url: 'https://api.ebay.com/identity/v1/oauth2/token',
    //        type: 'POST',
    //        headers: {
    //            'Content-Type': 'application/x-www-form-urlencoded',
    //            'Authorization': 'Basic Q2FtZXJvbkItRWJheUZlZVQtUFJELWU4YTEyOTIzMy01ZmY5NThkOTpQUkQtOGExMjkyMzM4Y2NjLTQ4ZDYtNDM5ZC05MDQxLTI2OTE='
    //        },
    //        //data: {
    //        //    'grant_type': 'authorization_code',
    //        //    'code': code,
    //        //    'redirect_uri': 'Cameron_Blazevi-CameronB-EbayFe-urvcak'
    //        //}
    //        data: 'grant_type=authorization_code&code=' + code + '&redirect_uri=Cameron_Blazevi-CameronB-EbayFe-urvcak',
    //        complete: function(data)
    //        {
    //            console.log(data);
    //        }
    //    });
    //});


</script>