
@{
    ViewBag.Title = "Index";
}
<style>
    #container {
        margin-top:40px;
    }
    .bar-chart {
        border:2px solid #dcdcdc;
        margin-bottom:15px;
    }

    .intro-box {
        height:150px;
        margin-top:10px;
    }
    header {
        /*margin: -15px -20px;*/
    }
    .intro-box-content {
        margin-top:15px;
    }
    .stats-row {
        margin-bottom:-5px;
    }
    .stat-item {
        display:inline-block;
        padding-right:15px;
    }
    .stat-item .name {
        margin-bottom:2px;
    }
    hr {
        border-top:2px solid #dcdcdc;
        margin:0px;
    }
    .stat-item-left
    {
        border-right:2px solid #dcdcdc;
    }
    /*.stat-item-bottom {
        border-top:solid;
    }*/
    .stat-item-right {
        /*border-left:solid;*/
        padding-left:15px;

    }
    /*.stat-item-top {
        border-bottom:solid;
    }*/

</style>


<div class="row"style="height:150px;">
    <div class="col-lg-3 col-md-3 panel intro-box">
        
            <header><h5>TOP PERFORMERS</h5></header>
            <div class="intro-box-content">
                <div class="stats-row">
                    <div class="stat-item stat-item-left stat-item-top">
                        <h6 class="name">Best Seller</h6>
                        <p>Best Selling Item</p>
                    </div>
                    <div class="stat-item stat-item-right stat-item-top">
                        <h6 class="name">Highest Margin</h6>
                        <p>Highest Margin</p>
                    </div>
                </div>
                <hr />
                <div class="stats-row">
                    <div class="stat-item stat-item-left stat-item-bottom">
                        <h6 class="name">Avg. Profit</h6>
                        <p>Highest Ave Prof</p>
                    </div>
                    <div class="stat-item stat-item-right stat-item-bottom">
                        <h6 class="name">Total Profit</h6>
                        <p>Total Item Prof</p>
                    </div>
                </div>
            </div>
       
    </div>
    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 panel intro-box"></div>
    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 panel intro-box"></div>
    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 panel intro-box"></div>
</div>
    <input type="hidden" id="clickedItemId" />

   
        <div class="row" style="height:450px; margin-bottom:15px;">
            
                <div id="myBarChart" class="col-md-6 panel bar-chart" style="height:450px;">

                </div>
                <div id="avgProfitBarChart" class="col-md-6 panel bar-chart" style="height:450px;">

                
            </div>
        </div>
    


    <div id="container" class="row"></div>


<script type="text/javascript">
    $(document).ready(function () {
                // $("#dialog").dialog({ autoOpen: false });

        //startup.init('Z485739881');
        sceneLayoutService.get();

        $('#myCarousel').carousel(
            {
                    interval: 1000000
            }
        );

                //$('#myCarousel').on('slid.bs.carousel', function () {
                //    //alert("slid");
                //});
        
            });
    //function test(data) {
    //    console.log(data);
    //};
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawInitialChart);
    
    function drawInitialChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            var rows = new Array();

            var dataForAvgProfit = new google.visualization.DataTable();
            var rowsForAvgProfit = new Array();

            dataForAvgProfit.addColumn('string', 'Item');
            dataForAvgProfit.addColumn('number', 'Avg. Profit');

            data.addColumn('string', 'Item');
            data.addColumn('number', 'Qty Sold');
            data.addColumn('number', 'Id');
            dataService.GetInventoryItems(function (result) {
            $(result).each(function (index) {

                    rows.push(
    
                        [$(this).attr('Description'), $(this).attr('QuantitySold'), $(this).attr('Id')]
                );
                    rowsForAvgProfit.push(
    
                        [$(this).attr('Description'), $(this).attr('AverageProfit')])
            });
                data.addRows(rows);
                dataForAvgProfit.addRows(rowsForAvgProfit);
                var options = {
                    backgroundColor: '#fff',
                'title': 'Sample Inventory Chart',
                titleFontSize:24
                    //backgroundColor: '#adadad',
                    //chartArea: {
                    //backgroundColor: {
                    //stroke: '#4322c0',
                    //strokeWidth: 3
                    //}
                    //}
            };
            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('myBarChart'));
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1]);

            google.visualization.events.addListener(chart, 'select', selectHandler);
            chart.draw(view, options);

            var chartForAvgProfit = new google.visualization.ColumnChart(document.getElementById('avgProfitBarChart'));
            chartForAvgProfit.draw(dataForAvgProfit, options);

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    $('#clickedItemId').val(data.getValue(selectedItem.row, 2));
                    //inventory item id of selected bar/column: data.getValue(selectedItem.row, 2)
                    //console.log(data.getValue(selectedItem.row, 2));                   
                    //$('#avgProfitBarChart').replaceWith('<div id="invPartial"></div>');
                    dataService.GetInventoryItemById(data.getValue(selectedItem.row, 2), renderDrillDownTemplate);
                    //$('#avgProfitBarChart').load("../InventoryItems/DetailsPartial", { id: data.getValue(selectedItem.row, 2), viewName: "_InventoryItemDrillDown" });
                };


            };
        });

    }
    function closeDrillDown() {
        drawInitialChart();
    }

    function renderDrillDownTemplate(data) {

        $.get('/Templates/InventoryItemDrillDown.html', function (template) {
            $('body').append(template);
            var html = $('#InventoryItemDrillDown').render(data);
            $('#avgProfitBarChart').html(html);
        });
    }
</script>

