
@{
    ViewBag.Title = "Index";
}
@*<script id="InventoryItemTemplate" type="text/x-jsrender">

    <div class="content">
        <header>
            <span>{{:Description}}</span>
        </header>
        <section>
            <span class="Currency Positive" style="font-size: 20pt">{{:Cost}}</span>
        </section>
    </div>

</script>*@



<h2>Dashboard</h2>
<div id="container">
    <div class="InvItem"></div>
    <div class="InvItem"></div>
    <div class="InvItem"></div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
       // $("#dialog").dialog({ autoOpen: false });


           startup.init('Z485739881');

    });

</script>

