<script id="InventoryItemDrillDown" type="text/x-jquery-tmpl">
    <style>
        .panel-body {
            height: 90%;
            /*background-color: darkgray;*/
            /*color: white;*/
            margin: 10px;
        }

        .panel-body h2 {
                margin-top: 5px;
        }
        div.selectablePanel{
            background-color: white;
            margin-top:0px;
            margin-bottom:20px;
        }
        div.selectablePanel.active {
            /*background-color: #3366CC;*/  
            box-shadow:  10px 10px 5px #888888;
            border:1px solid black;
        }

        div.selectablePanel:hover {
            /*background-color: #f5f5f5;*/
            box-shadow:  10px 10px 5px #888888;
            border:1px solid black;   
        }
        #drillDownChart {
            padding:0px;
        }
    </style>
    
    <div class="row" style="height:22%">
        <div id="quantitySoldPanel" class="col-md-3 panel-body selectablePanel">
            <h2>{{:QuantitySold}}</h2>
            <div class="small">Total Sold</div>
        </div>
        <div id="averageProfitPanel" class="col-md-3 panel-body selectablePanel">
            <h2>{{:AverageProfit}}</h2>
            <div class="small">Avg. Profit</div>
        </div>
        <div class="col-md-offset-9">
            <a id="closeDrillDown" class="close" onclick="closeDrillDown()">×</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="height:22%">
        <div id="totalFeesPanel" class="col-md-3 panel-body selectablePanel">
            <h2 id="totalFees"></h2>
            <div class="small">Total Fees</div>
        </div>
        <div id="totalProfitPanel"class="col-md-3 panel-body selectablePanel">
            <h2>{{:(AverageProfit * QuantitySold)}}</h2>
            <div class="small">Total Profit</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="height:50%;">
        <div class="col-md-12 panel-body" id="drillDownChart">
            <!--<h2>Line Graph of Profit Over Time</h2>-->
        </div>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //console.log('ready');
        dataService.GetItemSalesDataByMonth($('#clickedItemId').val(), draw_totalProfitPanel_chart);
    });

    $(document).on('click', '.selectablePanel', function () {
        //need to combine this .not() selector...seems tricky when using $this object
        $('.active').not($(this)).not('#carouselItem0').removeClass('active');
        var callbackFxn = 'draw_' + $(this).attr('id') + '_chart';
        
        //console.log(callbackFxn);
        if ($(this).attr('id') === 'averageProfitPanel')
        {
            //dataService.GetInventoryItemSalesOverTime($('#clickedItemId').val(), window[callbackFxn]);
            dataService.GetInventoryItemSalesOverTime($('#clickedItemId').val(), draw_averageProfitPanel_chart);
        }
        if ($(this).attr('id') === 'totalProfitPanel') {
            //dataService.GetInventoryItemSalesOverTime($('#clickedItemId').val(), window[callbackFxn]);
            dataService.GetItemSalesDataByMonth($('#clickedItemId').val(), draw_totalProfitPanel_chart);
        }
        //console.log($(this));
        $(this).addClass('active');
    });

    function draw_averageProfitPanel_chart(data)
    {
        //console.log(data);
        drawChart(data, 'averageProfitChart');
    }

    function draw_totalProfitPanel_chart(data) {
        //console.log('draw_totalProfitPanel_chart');
        //google.charts.load('current', { packages: ['corechart'] });
        //google.charts.setOnLoadCallback(drawChart);
        $('#totalProfitPanel').addClass('active');
        drawChart(data,'totalProfitPanel');        
    }
    function drawChart(data, chartToDraw) {

        var dataTable = new google.visualization.DataTable();
        var rows = new Array();
        var totalProfit = 0;
        var options = {};
        if (chartToDraw === 'totalProfitPanel') {
            dataTable.addColumn('string', 'Month');
            dataTable.addColumn('number', 'Profit');
            //dataTable.addColumn('number', 'Cost');
            //dataTable.addColumn('number', 'Fees');
            //dataTable.addColumn('number', 'Id');
            //dataTable.addColumn('number', 'QtySold');
            //dataTable.addColumn('number', 'TotalSales');
            $(data).each(function (index) {
                //console.log('data: ' + data);
                //console.log(index + ' Total Sales: ' + $(this).attr('TotalSales'));
                //console.log(index + ' Fees: ' + $(this).attr('Fees'));
                //console.log(index + ' Cost: ' + $(this).attr('Cost'));
                $('#totalFees').html($(this).attr('Fees').toFixed(2));
                totalProfit += ($(this).attr('TotalSales') - $(this).attr('Fees') - $(this).attr('Cost') * $(this).attr('QtySold'));
                //console.log(index + 'Total Profit: ' + totalProfit);
                rows.push([$(this).attr('Month').toString(), totalProfit]);
            })
            dataTable.addRows(rows);
            options = {
                'title': 'Total Profit Over Time',
                titleFontSize: 18,
                vAxis: { title: 'Profit ($)' },
                hAxis: { title: 'Month' },
                pointSize: 5,
                'height':222
            };
        }

        if (chartToDraw === 'averageProfitChart') {
            //dataTable.addColumn('date', 'Date');
            dataTable.addColumn('string', 'Listing');
            dataTable.addColumn('number', 'Profit');
            dataTable.addColumn({ type: 'string', role: 'tooltip' });

            $(data).each(function (index) {

                var date = $(this).attr('endDate');
                var jsDate = new Date(parseInt(date.substr(6)));
                jsDate = (jsDate.getMonth() + '-' + jsDate.getDate() + '-' + jsDate.getFullYear());
                var profit = parseFloat($.trim($(this).attr('profit')));

                //rows.push([jsDate, profit]);
                rows.push([(index + 1).toString(), profit, jsDate]);
            })
            dataTable.addRows(rows);
            options = {
                'title': 'Average Profit Over Time',
                titleFontSize: 18,
                vAxis: { title: 'Profit ($)' },
                //hAxis: { title: 'Listing Number' },
                pointSize: 5,
                'height': 222
            };
        }
        var chart = new google.visualization.LineChart(document.getElementById('drillDownChart'));
        var view = new google.visualization.DataView(dataTable);

        chart.draw(view, options);
    }
       
    </script>