<script id="InventoryItemTemplate_Small" type="text/x-jquery-tmpl">
    <div class="content">
        <header>
            <span>ACCOUNT TOTAL</span>
        </header>
        <section>
            <span class="Currency Positive" style="font-size: 20pt">{{:Cost}}</span>
        </section>
    </div>
</script>

<script id="InventoryItemTemplate_Medium" type="text/x-jquery-tmpl">
    <div class="content">
        <header>
            <span>ACCOUNT DETAILS - {{:Description}}</span>
        </header>
        <section style="padding-top:10px;">
            {{include tmpl ='#InventoryItemTemplate_Base'/}}
        </section>
    </div>
    <div class="stickyfooter" style="background-color: #fbcccc;">
        <div class="Left Bold">Total:</div>
        <div class="Right">
            <span class="Currency">{{:Cost}}</span>
        </div>
        <div class="Clear" />
    </div>
</script>

<script id="InventoryItemTemplate_Large" type="text/x-jquery-tmpl">
    <div class="content">
        <header>
            <span>ACCOUNT DETAILS - {{:Description}}</span>
        </header>
        <section style="padding-top:5px;">
            {{include tmpl='#InventoryItemTemplate_Base'/}}
            <div style="margin-top:0px;">
                <div id="AccountPositionsSVG" />
            </div>
        </section>
    </div>
    <div class="stickyfooter" style="background-color: #fbcccc; ">
        <div class="Left Bold">Total:</div>
        <div class="Right">
            <span class="Currency">{{:Cost}}</span>
        </div>
        <div class="Clear" />
    </div>
</script>

<script id="InventoryItemTemplate_Base" type="text/x-jquery-tmpl">
    <div class="Left">Cash</div>
    <div class="Right">
        <span class="Currency">{{:Cost}}</span>
    </div>
    <div class="Clear" />

   

    <div class="Left" style="margin-top:6px;">Positions</div>
    <div class="Right" style="margin-top:6px;">
        <span class="Currency">{{:Cost}}</span>
    </div>
    <div class="Clear" />
</script>