@{
    ViewBag.Title = "Email Confirmed";
    ViewBag.ReturnUrl = "CompleteRegistration";
}
<div class="row">
    <div class="panel col-md-4">
        <div class="panel-heading">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>

        <div class="panel-body">
            <p>
                Thank you for confirming your email. <a href="#" data-toggle="modal" data-target="#login-modal">Click here to Sign In</a>.
            </p>
        </div>
    </div>
</div>